@import 'core/reset';

.header {
  .title{
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0rem 2rem 0rem;
  }
}


.main {
  border-top: 1px solid lightgray;
  margin-top: 2rem;
  margin-bottom: 1rem;
  .form {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    .legend {
      font-size: 1.3rem;
    }
    .inputFilter {
      margin-right: 3rem;
      border: 1px solid rgb(54, 177, 54);
      border-radius: 3px;
    }
    .select {
      border: 1px solid rgb(54, 177, 54);
      border-radius: 3px;
      width: 10rem;
    }
  }

  .phrases_section {
    margin: 3.5rem 2rem 0rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    .phrase {
     padding: 0.7rem 0.7rem 0.7rem 0.7rem;
     font-size: 1.3rem;
     margin-left: 3rem;
     border: 1px solid lightgray;
     border-radius: 5px;
     .names {
      color: rgb(54, 177, 54);
      font-weight: 600;
     }
    }
  }

  .title2 {
    text-align: center;
    width: 30rem;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0rem 3rem 57rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
  }
  .formAdd {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 0.7rem;
    .flexy {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    .legendAdd {
      font-size: 1.3rem;
      display: block;
    }
  }
  .btnAdd {
    height: 2.5rem;
    width: 15rem;
    border-radius: 5px; 
    border: 0.2px solid white;
    background-color: rgb(54, 177, 54);
    color: white;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.574);
    margin-left: 5rem;
    margin-top: 1.5rem;
   }
 }
}